@charset "utf-8";
*{padding: 0; margin: 0; box-sizing: border-box; text-decoration: none; list-style: none;}

body{max-width: 1100px; margin: 0 auto; font-size: 18px; color: #191919;}
a, img{display: block; text-decoration: none; color: #191919;}
li{list-style: none;}
button{border: none; background: none; text-indent: -9999px;}
.wrap{padding: 30px 0; padding-bottom: 0;}
.con{width: 100%;}
.img-box > img{width: 100%;}
img, .cell{transition: all 0.7s;}
.open{display: none; width: 5rem; height: 5rem; position: absolute; right: 0; top: 0; background: url(../images/drawer-opener-black.svg)no-repeat center center/50% 50%;}
.drawer .close{display: none;}
.logo-bar{text-align: center;}
.logo-bar > a{display: inline-block;}
.logo-bar > a > img{max-width: 100%;}

.drawer .menu-box-1{margin: 20px 0;}
.drawer .menu-box-1 .row:after{content: ""; display: block; clear: both;}
.drawer .menu-box-1 .row .cell{float: left; width: 14.2857%; text-align: center; font-weight: bold; border-right: 2px solid #000;}
.drawer .menu-box-1 .row .cell:first-child{border-left: 2px solid #000;}
.drawer .menu-box-1 .row .cell a{transition: color 0.3s;}
.drawer .menu-box-1 .row .cell:hover a{color: #cb6060; text-decoration: underline;}

.top-bn-box-1{margin-top: 20px; margin-bottom: 20px;}
.top-bn-box-1 .img-box{}
.top-bn-box-1 .img-box > img{width: 100%;}

.prod-list-box-1 .row{width: 102%; margin-left: -1%;}
.prod-list-box-1 .row:after{content: ""; display: block; clear: both;}
.prod-list-box-1 .row .cell{float: left; width: 20%; padding: 0 1%; margin-bottom: 1%;}
.prod-list-box-1 .row .cell .prod-name, .prod-price{font-size: 1rem; text-align: center; font-weight: bold;}
.prod-list-box-1 .row .cell .prod-name{margin-top: 1.5%;}
.prod-list-box-1 .row .cell .prod-price{font-size: 1.5rem;}
.prod-list-box-1 .row .cell .prod-price:after{content: "ì›"; font-size: 1rem; font-weight: normal;}
.prod-list-box-1 .row .cell .img-box{position: relative;}
.prod-list-box-1 .row .cell .img-box .hover-layer{position: absolute; background: rgba(0,0,0,0.5); opacity: 0; transition: opacity 0.5s; width: 100%; height: 100%; z-index: 2;}
.prod-list-box-1 .row .cell .img-box .hover-layer .view{padding: 10px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #fff; vertical-align: center; font-weight: bold; border: 2px solid #fff; border-radius: 10%;}
.prod-list-box-1 .row .cell .img-box:hover .hover-layer{opacity: 1; transform: scale(1.3);}
.prod-list-box-1 .row .cell .img-box:hover > img{transform: scale(1.3);}

footer{background: #000; width: 100%;}
footer .copy{text-align: center; color: #fff; padding: 5% 0; font-size: 0.7rem;}

@media screen and (max-width: 980px){
    
    body{font-size: 14px;}
    .open{display: block;}
    .drawer{display: none; width: 80%; height: 100vh; background-color: #fff; position: fixed; right: 0; top: 0; z-index: 3;}
    .drawer .close{display: block; width: 5rem; height: 5rem; position: absolute; right: 0; top: 0; background: url(../images/close.svg)no-repeat center center/50% 50%;}
    .drawer .menu-box-1{margin: 70px 20px;}
    .drawer .menu-box-1 .row .cell{float: inherit; width: 100%; height: 75px; text-align: left; font-size: 2rem; font-weight: normal; border: 0;}
    .drawer .menu-box-1 .row .cell:first-child{border-left: 0;}
    .drawer .menu-box-1 .row .cell a{transition: color 0.3s;}
    .drawer .menu-box-1 .row .cell:hover a{color: red; text-decoration: underline;}
    .prod-list-box-1 .row .cell{width: 25%;}
    footer{padding: 6% 0;}
    
}
